.dashboard_display{
    border: solid 4px red;
    display: flex;
    align-items:  center;
    flex-direction: column;
    width: 85vw;
    height: 95vh;
}

.dashboard_sections{
    display: flex;
    flex-direction: row;
    border: solid 3px orange;
    width:90% ;
    height: 90%;
}

.foundItem_display{
    border: solid 4px purple;
    width: 50%;
    overflow-y:scroll;
}