.modal-fullscreen .modal-content{
    width: 95vw;
    background-color: whitesmoke ;
    /* opacity: 0.9; */
}
.modal-content {
    display: flex;
    align-items: center;
    width: 80vh;
    height: 90vh;
    border: solid 4px red;
    background-color: aqua;
}

.display_item_modal{
    border: solid 6px pink;
    width: 60%;
    height: 95vh;
    overflow-y: scroll;
}
.modal-body {
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 95%;
    overflow-y: scroll;
}

.imgae_item_detail{
    width: 60%;
    
}

.add_item_form {

    display: flex;
    flex-direction: column;
    border: solid 3 pix darkblue;
    width: 100%;

}

.form_layout{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 85%;
   
    
}

.input_conatainer {
    width: 90%;
    height: 3rem;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.modal-dialog {
    margin-left: 2rem;
    width: 90vw;
}

